@import '../../base/breakpoints';
@import '../../base/colors';

header {
  margin: 0 auto;
  position: relative;
  background: $alto;
  padding: 1rem;

  @include breakpoint(sm) {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .book-title {
    margin: 0;
    font-weight: 700;

    text-decoration: none;
    color: $mine-shaft;

    &:visited {
      color: $mine-shaft;
    }
  }
}