@import '../../base/breakpoints';
@import '../../base/colors';

.menu {
  display: flex;
  justify-content: flex-end;

  @include breakpoint(sm) {
    align-items: center;
    justify-content: flex-end;
  }

  .toggle {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 20;
    transition: all .5s ease-in-out;
  }

  nav {
    background: rgba($mine-shaft, .975);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(-100vw - 2rem);
    top: 0;
    min-height: 100vh;
    width: calc(100vw - 2rem);
    z-index: 10;
    padding: 3rem 2rem 0 0;
    transition: all .5s ease-in-out;

    @include breakpoint(sm) {
      left: -21rem;
      width: 19rem;
      min-height: 100vh;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0 0 0 1rem;
        padding: 0;
        color: $white;
        line-height: 2rem;
        display: block;
        width: 100%;
      }
    }

    a {
      text-decoration: none;
      color: $white;
      display: block;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $white;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  &.open {
    .toggle {
      color: $white;
    }

    nav {
      left: 0;

      @include breakpoint(sm) {
        width: 21rem;
        box-shadow: 0 0 4rem $mine-shaft;
      }
    }
  }
}
