@import '../../base/breakpoints';
@import '../../base/colors';

.menu {
  display: flex;
  justify-content: flex-end;

  @include breakpoint(sm) {
    align-items: center;
    justify-content: flex-end;
  }

  .toggle {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @include breakpoint(sm) {
      position: relative;
      top: auto;
      right: auto;
    }
  }

  nav {
    display: none;

    @include breakpoint(sm) {
      align-items: center;
    }

    a {
      margin-right: .5rem;
      text-decoration: none;
      color: $mine-shaft;

      &:visited {
        color: $mine-shaft;
      }

      &:last-child {
        margin-right: 0;

        @include breakpoint(sm) {
          margin-right: .5rem;
        }
      }

      &.active {
        text-decoration: underline;
      }
    }
  }

  &.open {
    nav {
      display: flex;
    }
  }
}
